@use '../abstracts' as *;

.Dashboard {
  min-height: calc(100vh - 5rem);

  padding: $padding-l;
  background-color: $bg-color-main;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  // Dashboard header

  &_head {
    width: 100%;
    text-align: center;

    h1 {
      font-size: $font-size-xl;
      color: $color_secondary;
      margin-bottom: $margin-m;

      @media screen and (max-width: 370px) {
        font-size: $font-size-l;
      }
    }

    h2 {
      font-size: $font-size-l;
      color: $color_sub-head_primary;
      margin-bottom: $margin-s;
    }

    hr {
      margin: $margin-l;
      border-radius: 1rem;
    }

    .form {
      .label {
        background-color: $bg-color-main;
      }

      .input {
        padding: $padding-xs;
        border: 0.1rem solid white;
        border-radius: 0.5rem;
      }

      .btn {
        margin-left: $margin-xs/2;
        padding: $padding-xs;
        border: 0.1rem solid white;
        border-radius: 0.5rem;
        text-align: center;
      }

      .btn:hover {
        background-color: $bg-color-main;
        color: $color_secondary;
      }
    }
  }

  &_lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
}
