@use '../abstracts' as *;

.Home {
  min-height: calc(100vh - 5rem);

  padding: $padding-l;
  background: $bg-color-light;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  &_titles {
    width: 100%;

    h1 {
      font-size: $font-size-xl;
      margin: $margin-s 0;
      color: $color_primary;
    }

    h2 {
      font-size: $font-size-s;
      margin: $margin-s 0;
      color: $color_sub-head_primary;
    }

    hr {
      margin: $margin-s 0;

      border-radius: 1rem;
      background-color: black;
    }

    button {
      padding: $padding-s;
      margin: $margin-l 0;

      background-color: $bg-color-main;
      color: $color_secondary;

      font-weight: 700;
      border: none;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }
  &_instructions {
    width: 100%;

    h4 {
      font-size: $font-size-m;
      margin: $margin-s 0;
      color: $color_primary;
    }

    .instructions {
      list-style: none;

      li {
        margin: $margin-s 0;
        color: $color_normal;
      }
    }
  }
}
