@use '../abstracts' as *;

.List {
  min-width: 30rem;
  border-radius: 1rem;

  background-color: $bg-color-list;

  @media screen and (max-width: 500px) {
    min-width: 25rem;
  }

  @media screen and (max-width: 420px) {
    min-width: 20rem;
  }

  &_head {
    padding: $padding-m;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border: 0.2rem solid $color_secondary;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    color: $color_primary;
    background-color: $bg-color-light;

    &:hover {
      color: $color_secondary;
      background-color: $bg-color-main;
    }

    .btn_close {
      padding: $padding-s/2;
      border-radius: 1rem;
      border: none;

      font-weight: 700;

      &:hover {
        box-shadow: 9px 9px 18px #acbac2, -9px -9px 18px #cadae4;
      }

      img {
        width: 3rem;
        height: auto;
      }
    }
  }

  &_body {
    padding: $padding-m;
    border-radius: 1rem;
    background-color: $bg-color-list;
  }
}
