@use '../abstracts' as *;

.TaskContainer {
  h1 {
    font-size: $font-size-xl;
    color: $color_secondary;
    margin-bottom: $margin-m;
  }

  h3 {
    color: $color_sub-head_primary;
  }

  .form {
    padding: $padding-l 0;

    //background-color: $bg-color-main;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    .input {
      flex: 1 0 10rem;
      padding: $padding-xs;
      border: 0.1rem solid white;
      border-radius: 0.5rem;
    }

    .btn {
      margin-left: 1rem;
      padding: $padding-xs;
      border: 0.1rem solid white;
      border-radius: 0.5rem;
      text-align: center;

      background-color: $bg-color-main;
      color: $color_secondary;
    }

    .btn:hover {
      color: $color_primary;
      background-color: $bg-color-light;
      border: 0.1rem solid $color_primary;
    }
  }

  .tasks {
    .ul {
      min-width: 100%;
      margin-top: $margin-s;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5rem;

      list-style-type: none;
    }
  }
}
