// bg-colors
$bg-color-light: #f1f0f0;
$bg-color-main: rebeccapurple;
$bg-color-list: goldenrod;

// text colors

$color_primary: rebeccapurple;
$color_secondary: #f1f0f0;
$color_normal: #1b1b1b;
$color_sub-head_primary: goldenrod;
$color_sub-head_secondary: #f1f0f0;
