@use './styles/abstracts' as *;

// views
@use './styles/views/home';
@use './styles/views/dashboard';
@use './styles/views/notFound';

// components
@use './styles/components/app';

@use './styles/components/list';
@use './styles/components/nav';
@use './styles/components/task';
@use './styles/components/taskContainer';

// resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// root
:root {
  font-family: $font-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
